html{ border:0; height:100%; }
body{ margin:0px; padding:0px; height:100%;}

header{ padding-top: 10%; text-align: center; }
footer{ padding-top: 10%;text-align: center;}

.navigation{ height: 50px; border-bottom: 1px solid #cccccc; padding-left: 10px; }
.navigation a { color: black;text-decoration: none; }
.navigation ul { list-style-type: none;padding: 15px; }


.sider-nav-list{ list-style-type: none; padding: 20px; } 
.sider-nav-list li{ padding: 20px; } 

.home-page{ padding-top: 10%;text-align: center; height: 50%; }
.singIn-page{ padding-top: 5%; height: 50%; }
.singUp-page{ padding-top: 5%; height: 50%; }
.topics-page{ padding-top: 10%; height: 50%; }

#pinned-left{ float: left; }
#pinned-right{ float: right; }

.text-right{text-align: right;}